<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
</head>
<body>
    <h1>Support</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <input type="text" name="name" placeholder="Enter your name">
        </p>
        <p>
            <input type="email" name="email" placeholder="Enter your email">
        </p>
        <p>
            <input type="text" name="text" style="height: 100px;" size="100">
        </p>
        <button type="submit">Send</button>
    </form>
</body>
</html>